<link rel="stylesheet" href="/styles/tablespage.css">

<script>
  function tablePost(path, params, method) {
    method = method || "post";

    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
       }
    }

    document.body.appendChild(form);
    form.submit();
  }
</script>

<div class="tables_section">
  <h1> Table Selection </h1>

  <% for (i = 0; i < numTables; i++) { %>
      <div id="table_<%= i %>" >
        Table <%= i+1 %>
        <br></br>
        <ol class="table_names">
          <% _.each(tableSeating[i], function(name) { %>
            <li><%= name %></li>
          <% }) %>
        </ol>
        <% if(typeof userTable === 'undefined') { %>
          <button onclick="tablePost('/tables/addUser', {tableName:<%= i+1 %>})" type="submit"> Add </button>
        <% } else if (userTable === i+1){ %>
          <button onclick="tablePost('/tables/removeUser', {tableName:<%= i+1 %>})" type="submit"> Remove> </button>
        <% } %> 
      </div>
  <%} %>
</div>
