<link rel="stylesheet" href="/styles/tablespage.css">
<% block('localScripts', '<script src="/js/app.js"></script>') %>

<script>
  window.csrf = "<%= _csrf %>";

  function tablePost(path, params, method) {
    method = method || "post";

    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
       }
    }

    document.body.appendChild(form);
    form.submit();
  }
</script>

<div class="tables_section">

  <div class="cardholder">

    <h1> Table Selection </h1>
    <% if(flash && flash.err) {%>
      <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error){ %>
          <% if (flash.err[error].constructor === Array){
            flash.err[error].forEach(function(obj){ %>
              <li><%- obj.message %></li>
            <% })
          } else { %>
            <li><%- flash.err[error].message %></li>
          <% } %>
        <% }) %>
      </ul>
    <% } %>

    <% for (i = 0; i < numTables; i++) { %>
        <div class="card">
          <h3> Table <%= i+1 %> </h3>
          <ol class="table_names" id="table-<%= i+1 %>">
            <% var count = 0; %>
            <% _.each(tableSeating[i], function(student) { %>
              <li id="user-<%= student.id %>"><%= student.name %></li>
              <% count++; %>
            <% }); %>
          </ol>
          <% if (userTable === i+1) { %>
            <button id="table-<%= i+1 %>-btn" onclick="tablePost('/tables/removeUser', {tableName:<%= i+1 %>, _csrf:'<%= _csrf %>'})" type="submit"> Remove </button>
          <% } else if (i < 2 && count < 12){ %>
            <button id="table-<%= i+1 %>-btn" onclick="tablePost('/tables/addUser', {tableName:<%= i+1 %>, _csrf:'<%= _csrf %>'})" type="submit"> Add </button>
          <% } else if (count >= limit){ %>
            <button id="table-<%= i+1 %>-btn" onclick="tablePost('/tables/addUser', {tableName:<%= i+1 %>, _csrf:'<%= _csrf %>'})" type="submit" style="pointer-events: none"> Full </button>
          <% } else { %>
            <button id="table-<%= i+1 %>-btn" onclick="tablePost('/tables/addUser', {tableName:<%= i+1 %>, _csrf:'<%= _csrf %>'})" type="submit"> Add </button>
          <% } %>
        </div>
    <%} %>
  </div>
</div>
