<link rel="stylesheet" href="/styles/tablespage.css">

<script>
  function tablePost(path, params, method) {
    method = method || "post";

    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
       }
    }

    document.body.appendChild(form);
    form.submit();
  }
</script>

<div class="tables_section">

  <div class="cardholder">

    <h1> Table Selection </h1>
    <% if(flash && flash.err) {%>
      <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error){ %>
          <% if (flash.err[error].constructor === Array){
            flash.err[error].forEach(function(obj){ %>
              <li><%- obj.message %></li>
            <% })
          } else { %>
            <li><%- flash.err[error].message %></li>
          <% } %>
        <% }) %>
      </ul>
    <% } %>

    <% for (i = 0; i < numTables; i++) { %>
        <div id="table_<%= i %>" class="card">
          <h3> Table <%= i+1 %> </h3>
          
          <ol class="table_names">
            <% _.each(tableSeating[i], function(name) { %>
              <li><%= name %></li>
            <% }) %>
          </ol>
          <% if (userTable === i+1) { %>
            <button onclick="tablePost('/tables/removeUser', {tableName:<%= i+1 %>, _csrf:'<%= _csrf %>'})" type="submit"> Remove </button>
          <% } else { %>
            <button onclick="tablePost('/tables/addUser', {tableName:<%= i+1 %>, _csrf:'<%= _csrf %>'})" type="submit"> Add </button>
          <% } %>
        </div>
    <%} %>
  </div>
</div>
