 <!--  wenxin-added-temp -->

<link rel="stylesheet" href="/styles/registration.css">
<link rel="stylesheet" href="/styles/homepage.css">
<link rel="stylesheet" href="/styles/eventinfo.css">
<link rel="stylesheet" href="/styles/menu.css">
<link rel="stylesheet" href="/styles/register-account.css">
<link rel="stylesheet" href="/styles/riddle.css">



<section class="main-content">
    <center> <div class = "top-bar"> </div> </center>
    <div id = "title">
      <h1 class = "pos">
        <center> Riddle Submission </center>
      </h1>
    </div>
    <center> <div class = "middle-bar"> </div> </center>


    	<div class="second-main-content">
		<img src="/images/crossword.jpg" />
		<div class="center-block col-md-6 col-md-offset-3">
			<% if (typeof riddles !== 'undefined' && riddles.length > 0) { %>
			<form role="form" action="/submission/create" method="POST" class="form-horizontal" style="color:#fff">
				<% if(flash && flash.err) {%>
					<ul class="alert alert-success">
						<% Object.keys(flash.err).forEach(function(error){ %>
							<% if (flash.err[error].constructor === Array){
								flash.err[error].forEach(function(obj){ %>
									<li><%- obj.message %></li>
								<% }) 
							} else { %>
								<li><%- flash.err[error].message %></li>
							<% } %>
						<% }) %>
					</ul>
				<% } %>

				<% _.each(riddles, function(riddle) { %>
				<div class="container">
					<div>
						<%- riddle.riddle %>
					</div>
					Answer: <input type="text" class="form-control" placeholder="Answer" name="<%= riddle.id %>"><br>
				</div>
				<%	}) %>

				<br>
				<p> Please Enter Your Name:</p>
				<input type="text" class="form-control" placeholder="Name" name="name"><br>
				<p> Please Enter Your Email:</p>
				<input type="text" class="form-control" placeholder="Email address" name="email"><br>
				<input type="submit" class="btn btn-lg btn-primary" style="
    margin: 20px 0;" value="Submit"/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			</form>
			<% } else { %>
				<div class="container horizontalcenter">
					<div class="text-center">
						There are no riddles currently available to solve :(
					</div>
				</div>
			<% } %>

	</div>


<center> <div class = "bottom-bar middle-bar"> </div> </center>

  </div>
</section>