<!--  wenxin-added-temp -->
<link rel="stylesheet" href="/styles/menu.css">
<link rel="stylesheet" href="/styles/registration.css">


<div class="horizontalcenter">
<!--TEXT-->
<center> <div class = "top-bar"> </div> </center>
<div id = "title">
  <h1 class = "pos">
  <center> PROFILE </center>
  </h1>
</div>
<center> <div class = "middle-bar"> </div> </center> <br> 

  <form action="/user/update/<%= user.id %>" method="POST" class="form-signin">

  <div id="table-container">
    <table>
    <% if(flash && flash.err) {%>
      <ul class="alert alert-success">
        <% Object.keys(flash.err).forEach(function(error){ %>
          <% if (flash.err[error].constructor === Array){
            flash.err[error].forEach(function(obj){ %>
              <li><%- obj.message %></li>
            <% }) 
          } else { %>
            <li><%- flash.err[error].message %></li>
          <% } %>
        <% }) %>
      </ul>
    <% } %>
    <tr>
      <td class="title">Ticket Number</td>
      <td class="info">
        <%= user.ticketNumber %>
      </td>
    </tr>
    <tr>
      <td class="title"></td>
      <td class="info">
        <a href="/password/index">Change Password</a> 
      </td>
    </tr>
    <tr>
      <td class="title">Full Name</td>
      <td class="info">
        <input type="text" class="form-control" placeholder="Name" name="name" value="<%= user.name %>">
      </td>
    </tr>
    <tr>
      <td class="title">Email</td>
      <td class="info">
        <input type="text" class="form-control" placeholder="Email" name="email" value="<%= user.email %>">
      </td>
    </tr>
    <tr>
      <td class="title">Year</td>
      <td class="info">
        <select name="year">
            <option style="color:#000" value="1T8" <%if (user.year == '1T8') { %><%= 'selected' %><% } %>>1T8</option>
            <option style="color:#000" value="1T7" <%if (user.year == '1T7') { %><%= 'selected' %><% } %>>1T7</option>
            <option style="color:#000" value="1T6" <%if (user.year == '1T6') { %><%= 'selected' %><% } %>>1T6</option>
            <option style="color:#000" value="1T5" <%if (user.year == '1T5') { %><%= 'selected' %><% } %>>1T5</option>
            <option style="color:#000" value="1T4" <%if (user.year == '1T4') { %><%= 'selected' %><% } %>>1T4</option>
            <option style="color:#000" value="1T4+PEY" <%if (user.year == '1T4+PEY') { %><%= 'selected' %><% } %>>1T4+PEY</option>
            <option style="color:#000" value="prof" <%if (user.year == 'prof') { %><%= 'selected' %><% } %>>Professor</option>
            <option style="color:#000" value="grad" <%if (user.year == 'grad') { %><%= 'selected' %><% } %>>Grad/Other</option>
        </select>
      </td>
    </tr>
    </table>

    <table>
    <tr>
      <td class="title">Dietary Restrictions</td>
      <td class="info">
        <input type="radio" name="dietaryRestrictions" value="None" <% if (user.dietaryRestrictions == "None") { %><%= 'checked' %><% } %>>None
        <input type="radio" name="dietaryRestrictions" value="Vegetarian" <% if (user.dietaryRestrictions == "Vegetarian") { %><%= 'checked' %><% } %>>Vegetarian
        <input type="radio" name="dietaryRestrictions" value="Halal" <% if (user.dietaryRestrictions == "Halal") { %><%= 'checked' %><% } %>>Halal<br>
        <input type="radio" name="dietaryRestrictions" value="Other" <% if (user.dietaryRestrictions != 'None' && user.dietaryRestrictions != 'Vegetarian' && user.dietaryRestrictions != 'Halal') { %><%= 'checked' %><% } %>>Other
        <input type="text" class="form-control" placeholder="Please Specify" name="otherDietaryRestrictions" value="<% if (user.dietaryRestrictions != 'None' && user.dietaryRestrictions != 'Vegetarian' && user.dietaryRestrictions != 'Halal') {%><%= user.dietaryRestrictions %><% } %>">
      </td>
    </tr>
    <tr>
      <td class="title" id="titletest">Bus Departure Time</td>
      <td class="info">
        <% _.each(leavingBuses, function(bus) { %>
              
          <% 
            var hour = bus.date.getHours();
            var suffix = (hour < 12 ? " am" : " pm");

            hour = (hour > 12 ? hour - 12 : hour);

            if (hour == 0){
              hour = 12;
            }

            var min  = bus.date.getMinutes();
            min = (min < 10 ? "0" : "") + min;

            var time = hour + ":" + min + suffix;
          %>
          <input type="radio" name="busDepartTime" value="<%= bus.id %>" <% if (user.busDepartTime == bus.id) { %><%= 'checked' %><% } %><%= (bus.seats <= 0) ? " disabled" : "" %>><%= time %><%= (bus.seats <= 0) ? " (full)" : "" %>
         
        <%  }) %>
        <input type="radio" name="busDepartTime" value="" <% if (user.busDepartTime == "") { %><%= 'checked' %><% } %>>Not taking bus
      </td>
    </tr>
    <tr>
      <td class="title" id="titletest">Bus Return Time</td>
      <td class="info">
         <% _.each(returningBuses, function(bus) { %>
              
          <% 
            var hour = bus.date.getHours();
            var suffix = (hour < 12 ? " am" : " pm");

            hour = (hour > 12 ? hour - 12 : hour);

            if (hour == 0){
              hour = 12;
            }

            var min  = bus.date.getMinutes();
            min = (min < 10 ? "0" : "") + min;

            var time = hour + ":" + min + suffix;
          %>
          <input type="radio" name="busReturnTime" value="<%= bus.id %>" <% if (user.busReturnTime == bus.id) { %><%= 'checked' %><% } %><%= (bus.seats <= 0) ? " disabled" : "" %>><%= time %><%= (bus.seats <= 0) ? " (full)" : "" %>
         
        <%  }) %>
        <input type="radio" name="busReturnTime" value="" <% if (user.busReturnTime == "") { %><%= 'checked' %><% } %>>Not taking bus
      </td>
    </tr>

    </table>
    <table>
    <tr>
      <br>
      <td class="notice">** The 8:15 p.m. bus is for those with midterms **</td>
    </tr>
    </table>

    <table class='age'>
    <tr>
      <td class="title">19+?</td>
      <td class="info">
        <input type="radio" name="overDrinkingAge" value="true" <% if (user.overDrinkingAge == true) { %><%= 'checked' %><% } %>>Yes
        <input type="radio" name="overDrinkingAge" value="false" <% if (user.overDrinkingAge == false) { %><%= 'checked' %><% } %>>No
      </td>
    </tr>
    </table>
<br></br>
  </div>
    <div id="submit-container">
      <!-- <input id="reg-submit" type="submit" value="I'm Ready. Sign Me Up!"> -->
      <input type="submit" class="btn btn-lg btn-primary btn-black" value="I'm Ready. Sign Me Up!" />
</div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>



